.Slider-Range {
    margin: 1em 0;
    width: 250px;
    color: #626262;
}
.Slider-Range__Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Slider-Range__Info p {
    margin-left: 5px;
}
.Slider-Range__Info input {
    width: 2.3em;
    max-height: 20px;
    color: gray;
}

.Slider-Range__Slider {
    width: 100%;
    cursor: pointer;
}
